<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h2>Shawty URLs</h2>
  <main id="app">
    <form @submit.prevent="createUrl()">
      <label for="url">URL:</label>
      <input v-model="url" name="url">
      <label for="slug">Slug:</label>
      <input v-model="slug" name="slug">
      <button type="submit">Create</button>
    </form>
    <p v-if="created">
        url: <a href="https://o.shawty.uk/{{slug}}">https://o.shawty.uk/{{slug}}</a>
      <br>
    </p>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
  <script src="app.js"></script>
</body>
</html>