<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>


  <main id="app">
    <form @submit.prevent="createUrl()">
      <label for="url">URL:</label>
      <input v-model="url" name="url">
      <label for="slug">Slug:</label>
      <input v-model="slug" name="slug">
      <button type="submit">Create</button>
    </form>
    <div class="test"></div>
    <pre>
      {{JSON.stringify(created, null, 2)}}
    </pre>
  </main>
  <script>
    const x = 34
  </script>
</body>
</html>