* {
  margin: 15px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: antiquewhite;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.app {
  box-sizing: border-box;
  width: 200px;
  padding: 20px;
  text-align: center;
}

img {
  max-height: 500px;
  width: auto;
}


.icon {
  height: 30px;
  width: auto;
}

button {
  background-image:url('https://i.imgur.com/CwK2jrT.png');
  height: 30px;
  width: 100px;
  cursor: pointer;
  border: none;
}


.align {
  display: flex;
  align-items: center;
}

.create {
  margin-left: 30px;
  margin-top: 20px;
}

.center {
  display: flex;
  justify-content: center;
}